
div.pictures {
    width: 100%;
    background-color: white;
    padding: 0px;
    margin: 50px 0px 50px 0px;
    
    overflow: hidden;
    clear:both;
   
   align-items: stretch;
}    
div.pic {
    width: 100%;
    height: 14vw;

    overflow: hidden;
    position: relative;
    float:left;
   align-items: stretch;
}
div.category{
     width: 10vw;
    height: 14vw;
    padding-left: 1px;

    overflow: hidden;
    position: relative;
    float: right;
    display: flex;
    align-content: center;
    align-items: center;
    
}
div.pic img{
     max-width: 100%;
     text-align: center;
}
div.pic {
     max-width: 100%;
     text-align: center;
}

.container-fluid {
    background-color: #ffffff;
    margin: 5px 0 5px 0;
}

.brandName{
    font-family: 'Amatic SC' !important;
    font-size: 30px;
    text-decoration: none;
    color: #21796a;
    font-weight: bold;
    margin: 2px 50px 0 0;
}

.dropdown-style{
    line-height: 10px;
    font-size: 15px;
    padding: 0
}

.dropdown-item{
    padding: 5px 0 5px 0 ;
     color: #ffffff !important;
}

.dropdown-item:hover{
    background-color: #12c59a !important;
    background-image: none;
}

.dropdown-a:hover{
    background: none !important;
    color: #ffffff !important;
    
}

div.menubar{
    font-size: 20px;
    text-decoration: none;

}

.menu-style{
    margin: 0;
    background-color: #ffffff;
    border: none;
    -webkit-box-shadow: 0px 0px 4px 2px #828282;
       -moz-box-shadow: 0px 0px 4px 2px #828282;
            box-shadow: 0px 0px 4px 2px #828282;   
    border-radius: 0;
}

.shoppingCart{
    height: 20px ;
    width:190px;
}

.Home{
    height: 20px ;
    width:110px;
}
.right_side{
    width: 100%;
    height: 14vw;
    background-color: #12c59a;
    margin: 50px 0px 50px 0px;
   
    align-content: center;
    
    color: white;
    text-align: center;
    padding: 50px 0 0 0;
   border-style: solid;
   border-width: 1px ;
   border-color: #888888;
   
    
}
.right_s{
 
    background-color: #12c59a;
    margin: 90px 0 0 20px;
    align-content: center;
    text-align: center;
 
}


a#text{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    
}
a#text:hover{
    color: rgb(193, 239, 229);
    
}

.imagine#img{
    vertical-align: top;
    margin-right: 5px;
    /* background-color: aqua; */
}
.img#img{
    height: fit-content;
}
.margin_container {
    margin-top: 50px;
    border: 4px solid;
    border-color: #12c59a;
    width: auto;
    padding: 0 20px 50px 20px ;
    background-color: white;
}

.no-padding{
    padding: 0 !important;
}
.n-padding{
    padding: 10px 0 10px 0;
}
.reduce-margin{
    margin-top: 0px;
}

.descript-icon{
    width: 30px;
    height:30px;
}

.descript-icon-box{
    text-align: center;
    align-content: center;
}

.descript-text{
    font-size: 16px;
    text-align: justify;
}

.descript-half-title{
    font-size: 18px;
}


.descript-up-text{
    font-size: 15px;
    padding-left: 5px;
    line-height: 18px;
    margin-bottom: 5px;
}

.descript_title{
    font-weight: bold;
    font-size: 18px;
    width: 200px
}

.margin-20{
    margin-top:20px;
}

.left-descript{
    width: 130px;
}

.title-width{
    width: 180px;
}

.margin-left-buy{
    margin-left: 50px;
}
.brand{
    width: 100%;
}
.menu-brand{
    width: 15%;
    padding:5px 0 0 0;
}
#app-background{
    // background-image: url(http://dezbateri.ro/pic/pattern.png)  ;
      background-size: 100% 100% cover;
}
.fill{
    width:100%;
    height:100%;
    min-height:100%;}

.margin-event-pics{
    margin-top: -30px;
}

.no-padding-maybe{
    padding-top: 12px
}