<style>
    .myButtons{
        background-color:#1c5792;
        border-radius: 0px;
        margin-bottom: 3px;
    }
    .span3 {
        height: 100px !important;
        overflow: scroll;
    }
</style>
<div ng-controller="secretaryCtrlDoctor">
    <div class="col-md-12">


            <div class="col-md-12">
                <div class="col-md-2">
                    <div    id="container_left"
                            class="col-md-12 shadowed"
                            style="background-color: #1c5792; padding-bottom: 0px; max-width: 25vw; color: #FFFFFF; height: 418px" >
                        <h1>Doctors</h1>
                        <div class="form-group"
                             style="padding-bottom: 10px; margin-top: 10px; min-width: 0px;">
                            <div class="input-group"; style="min-width: 0px; background-color: #FFFFFF">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>
                                <input
                                        id="search_doctors"
                                        type="text"
                                        class="form-control col-md-12"
                                        style="width: 100%"
                                        placeholder="Search"
                                        ng-model="searchedFilter">
                            </div>
                        </div>



                        <div style="min-height: 180px">
                            <table  class="table table-striped table-responsive table-hover"  
                                    style="color: #337ab7; font-weight: bold">
                                <tbody >
                                    <tr dir-paginate="doctor in doctors | orderBy:sortKey:reverse | filter:searchedFilter | itemsPerPage: itemsPerPage"
                                        ng-click="
                                        select.username = doctor.username;
                                        setSelectedDoctor(doctor.username,doctor.name);"

                                        ng-class="{rowSelected : doctor.username === doctorSelected}">

                                        <td class="columnAuto">{{doctor.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="text-align: center">
                            <dir-pagination-controls
                                    max-size="8"
                                    direction-links="true"
                                    on-page-change="data.getData(newPageNumber)">
                            </dir-pagination-controls>
                        </div>


                    </div>
                    <div   id="doctor_selected"   class="input-group col-md-12 "
                           ng-class="{'has-error' : doctorSelected === null && consultTriggered === true,
                                     'has-success' : doctorSelected !== null}">
                        <label style="margin-top: 5vh;">Doctor selected</label>
                        <input
                                type="text"
                                class="form-control col-md-12 "
                                style="width: 100%"
                                placeholder=""
                                ng-model="doctorSelected"
                                disabled>
                    </div>
                </div>



                <div class="col-md-8">
                    <div class="col-md-12">
                        <button class="btn btn-primary myButtons" ng-click="showDay()">Day</button>
                        <button class="btn btn-primary myButtons" ng-click="showWeek()">Week</button>
                        <button class="btn btn-primary myButtons pull-right" ng-click="searchPatient()">Search</button>
                        <span class="pull-right">
                            <input
                                    type="text"
                                    class="form-control col-md-8"
                                    style="width: 100%; margin: 0px;"
                                    placeholder="search"
                                    ng-model="filterEvents">

                        </span>

                    </div>
                    <div id ="dp" class="col-md-12">
                        <daypilot-calendar id="week" daypilot-config="weekConfig" daypilot-events="events" ></daypilot-calendar>
                        <daypilot-calendar id="day" daypilot-config="dayConfig" daypilot-events="events" ></daypilot-calendar>
                    </div>
                    <div class = "col-md-12 shadowed" style="padding-bottom: 10px; margin-top: 20px">
                    <div class="col-md-6"  >
                        <div class="col-md-6"  >
                            <H2>Consultation</H2>
                        </div>
                        <div class="col-md-6"   >
                            <H2><button class="btn btn-primary myButtons pull-right" ng-click="addConsult()">Add consult</button></H2>
                        </div>
                        <label class="col-md-12">Starting and ending date and time</label>
                        <div class="col-md-6"
                             ng-class="{'has-error' : selectedNewStart === null && consultTriggered === true,
                                        'has-success' : selectedNewStart !== null}">
                            <input
                                    id="startdate"
                                    type="text"
                                    class="form-control col-md-12 "
                                    style="width: 100%"
                                    placeholder="start date"
                                    ng-model="selectedNewStart"
                                    disabled>
                        </div>

                        <div class="col-md-6"
                             ng-class="{'has-error' : selectedNewEnd === null && consultTriggered === true,
                                        'has-success' : selectedNewEnd !== null}">
                            <input
                                    id="enddate"
                                    type="text"
                                    class="form-control col-md-12"
                                    style="width: 100%"
                                    placeholder="end date"
                                    ng-model="selectedNewEnd"
                                    disabled>
                        </div>

                        <div class="col-md-12"
                             ng-class="{'has-error' : !patientSelected && consultTriggered === true,
                                        'has-success' : patientSelected }">
                            <input
                                    id="patientselected"
                                    type="text"
                                    class="form-control col-md-12"
                                    style="width: 100%"
                                    placeholder="patient"
                                    ng-model="patientSelected"
                                    disabled>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <div class="form-group"
                             style="margin-top: 20px; min-width: 0px; margin-bottom: 0px">
                            <div class="input-group"; style="min-width: 0px; background-color: #FFFFFF">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>
                                <input
                                        type="text"
                                        class="form-control col-md-12"
                                        style="width: 100%"
                                        placeholder="Search patient"
                                        ng-model="patientFilter">
                            </div>
                        </div>
                        <div style="max-height: 150px; width: 100%; margin: 0; overflow-y: auto; ">
                            <table  class="table table-striped table-hover table-condensed table-scrollable"
                                    style="color: #337ab7; font-weight: bold;">
                                <tbody >
                                <tr ng-repeat="patient in patients | filter:patientFilter"
                                    ng-click="
                                        select.name = patient.name;
                                        setSelectedPatient(patient.name);"

                                    ng-class="{rowSelected : patient.name === patientSelected}">

                                    <td >{{patient.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    </div>
                </div>
                <div class="shadowed" style="display: inline-block; margin-left: 2vw;" >
                    <daypilot-navigator id="navi"  daypilot-config="navigatorConfig" style="margin: 0px; padding: 0px;"></daypilot-navigator>
                </div>
            </div>

        <div class="col-md-1"> </div>
    </div>



    <div class="modal fade" data-ng-init="" id="eventModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #1c5792; font-weight: bold; color: #ffffff;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Consultation</h4>
                </div>
                <div >


                    <div class="col-md-6">
                        <h4 style="color: #000;">
                            Patient : {{eventText}}
                        </h4>
                        <h4 style="color: #000;">
                            Doctor : {{doctorSelectedName}}
                        </h4>
                        <h4 style="color: #000;">
                            Date : {{eventDate}}
                        </h4>
                        <h4 style="color: #000;">
                            Start : {{eventStartDate}}
                        </h4>
                        <h4 style="color: #000;">
                            End : {{eventEndDate}}
                        </h4>


                    </div>
                    <div class="col-md-6">
                        <button
                                type="button-primary"
                                class="btn btn-primary col-md-12"
                                style="height: 50px; background-color: #c00004; margin-bottom: 10px"
                                ng-click="deleteConsultation()">
                            Delete consultation
                        </button>
                        <button
                                id="announceDoctorId"
                                type="button-primary"
                                class="btn btn-primary  col-md-12"
                                style="height: 50px; background-color: #20c009"
                                ng-click="announceDoctor()">
                            Announce Doctor
                        </button>

                    </div>


                        <span>
                            <div style="margin-top:30px"
                                 class="form-group">
                                <div class="col-sm-12 controls">
                                     <button
                                             style="background-color: #1c5792;"
                                             type="button-primary"
                                             class="btn btn-primary pull-right col-md-3"
                                            ng-click="">
                                        Load
                                    </button>
                                    <button
                                            type="button"
                                            style="background-color: #1c5792;"
                                            class="btn btn-primary pull-right col-md-3"
                                            data-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </span>


                </div>
                <div class="modal-footer " >

                </div>
            </div>

        </div>
    </div>
</div>
