<style>
    .myButtons{
        background-color:#1c5792;
        border-radius: 0px;
        margin-bottom: 3px;
    }
    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        background-color: #1c5792;
        color: #FFFFFF;
        border-color: #1c5792;
        border-top: 0
    }

    .form-horizontal {
        width:500px;
    }

    .datetime-picker-dropdown {

    }

    .datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
        border: 0;
    }

    .datetime-picker-dropdown > li.time-picker-menu div > table {

    }

</style>

<div ng-controller="secretaryCtrl">
    <div class="menuContent" data-ng-init="init()">
        <div>
            <div class="col-md-12" style="padding-top: 25px">
                <div class="col-md-1" style="max-width: 8vw">
                </div>
                <div
                        class="col-md-3 shadowed"
                        style="background-color: #ffffff; padding-bottom: 50px; max-width: 25vw">
                    <div class="form-group"
                         style="padding-bottom: 20px; margin-top: 50px; min-width: 0px;">
                        <div class="input-group"; style="min-width: 0px">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                            <input
                                    id="search_users"
                                    type="text"
                                    class="form-control col-md-12"
                                    style="width: 100%"
                                    placeholder="Search"
                                    ng-model="searchedFilter">
                        </div>
                    </div>
                    <span class="md-col-12">
                         <button
                                 id="addPatientModal_Button"
                                 type="button"
                                 class="col-md-4 btn btn-primary myButtons"
                                 data-toggle="modal"
                                 ng-click="setToNull()"
                                 data-target="#addPatientModal">
                            <i class="glyphicon glyphicon-plus-sign" style="margin-right: 5px"></i>
                             Add
                        </button>
                        <button
                                id="updatePatientM"
                                type="button"
                                class="col-md-4 btn btn-primary myButtons"
                                data-toggle="modal"
                                data-target="#updatePatientModal"
                                disabled>
                             <i class="glyphicon glyphicon-edit" style="margin-right: 5px"></i>
                            Update
                        </button>
                        <button
                                id="removePatientM"
                                type="button"
                                class="col-md-4 btn btn-primary myButtons"
                                disabled
                                ng-click="deletePatient()">
                             <i class="glyphicon glyphicon-remove-sign" style="margin-right: 5px"></i>
                            Delete
                        </button>
                    </span>
                    <div>
                        <img src="../WebContent/assets/img/Doctor.png"
                             style="padding: 50px; padding-bottom: 10px; max-width: 100%; max-height: 100%; color: #F2F2F2;
                                -webkit-filter: drop-shadow(1px 1px 1px #11424a); filter: drop-shadow(1px 1px 1px #11424a);">
                    </div>
                    <div>
                        <H1 style="font-size: 2vw; margin: 0px; color: #F2F2F2; text-align: center; text-shadow: 1px 1px 1px #11424a">MEDICAL</H1>
                        <H1 style="font-size: 2vw; margin: 0px; color: #F2F2F2; text-align: center; text-shadow: 1px 1px 1px #11424a">APPLICATION</H1>
                    </div>


                </div>

                <div class="col-md-7" style="max-width: 58vw; padding-left: 50px; border-top-width: 0px">

                    <table  class="table table-striped table-responsive table-hover shadowed"  >

                        <thead>
                        <tr class="">
                            <th ng-click="sort('name')" class="noselect">
                                Name
                                <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('pnc')" class="noselect">
                                PNC
                                <span class="glyphicon sort-icon" ng-show="sortKey=='pnc'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('idcard')" class="noselect">
                                IDCard
                                <span class="glyphicon sort-icon" ng-show="sortKey=='idcard'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('dateOfBirth')" class="noselect">
                                DateOfBirth
                                <span class="glyphicon sort-icon" ng-show="sortKey=='dateOfBirth'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('address')" class="noselect" style="text-align: center;">
                                Address
                                <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr ng-show="accounts.length <= 0"><td colspan="5" style="text-align:center;">Loading new data!!</td></tr>

                        <tr dir-paginate="patient in patients | orderBy:sortKey:reverse | filter:searchedFilter | itemsPerPage: itemsPerPage"
                            ng-click="
                                select.name = patient.name;
                                select.pnc = patient.pnc;
                                select.idcard = patient.idcard;
                                select.dateOfBirth = patient.dateOfBirth;
                                select.address = patient.address;
                                setSelectedPatient(patient.pnc);"

                            ng-class="{rowSelected : patient.pnc === PNCSselected}">

                            <td class="columnAuto">{{patient.name}}</td>
                            <td class="columnAuto">{{patient.pnc}}</td>
                            <td class="columnAuto">{{patient.idcard}}</td>
                            <td class="columnAuto">{{patient.dateOfBirth}}</td>
                            <td class="columnAuto">{{patient.address}}</td>

                        </tr>
                        </tbody>

                    </table>

                    <dir-pagination-controls
                            class ="pull-right"
                            max-size="8"
                            direction-links="true"
                            boundary-links="true"
                            on-page-change="data.getData(newPageNumber)">
                    </dir-pagination-controls>
                </div>

            </div>


            <div class="col-md-1" style="max-width: 8vw">
            </div>
        </div>
    </div>

    <!-- Modal add -->
    <div class="modal fade" id="addPatientModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #00ceef; font-weight: bold; color: #ffffff;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new patient</h4>
                </div>
                <div >

                    <form name="patientsForm" class="col-md-12" style="margin-top: 30px" novalidate>

                        <label>NAME:</label>
                        <div class="input-group"
                             ng-class="{'has-error' : patientsForm.name.$invalid && patientsForm.name.$dirty,
                                     'has-success' : patientsForm.name.$valid && patientsForm.name.$dirty}">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"
                                           style="max-height : 25px"></i>
                                    </span>
                            <input class="form-control"
                                   style="width: 100%"
                                   type="text"
                                   name="name"
                                   placeholder="name"
                                   ng-model="form_name"
                                   required/>
                        </div>

                        <br>
                        <label>PERSONAL NUMERICAL CODE:</label>
                        <div class="input-group"
                             ng-class="{'has-error' : patientsForm.pnc.$invalid && patientsForm.pnc.$dirty,
                                     'has-success' : patientsForm.pnc.$valid && patientsForm.pnc.$dirty}">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"
                                           style="max-height : 25px"></i>
                                    </span>
                            <input class="form-control"
                                   style="width: 100%"
                                   type="text"
                                   ng-pattern="pncPattern"
                                   name="pnc"
                                   placeholder="personal numerical code"
                                   ng-model="form_pnc"
                                   required/>
                        </div>

                        <br>
                        <label>ID CARD:</label>
                        <div class="input-group"
                             ng-class="{'has-error' : patientsForm.idcard.$invalid && patientsForm.idcard.$dirty,
                                     'has-success' : patientsForm.idcard.$valid && patientsForm.idcard.$dirty}">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"
                                           style="max-height : 25px"></i>
                                    </span>
                            <input class="form-control"
                                   style="width: 100%"
                                   type="text"
                                   name="idcard"
                                   placeholder="Id Card"
                                   ng-model="form_idcard"
                                   ng-pattern="idcardPattern"
                                   ng-maxlength="8"
                                   ng-minlength="8"
                                   required/>
                        </div>

                        <br>
                        <label>DATE OF BIRTH</label>
                        <div class="input-group"
                             ng-class="{'has-error' : patientsForm.dateOfBirth.$invalid && patientsForm.dateOfBirth.$dirty,
                                     'has-success' : patientsForm.dateOfBirth.$valid && patientsForm.dateOfBirth.$dirty}">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"
                                           style="max-height : 25px"></i>
                                    </span>
                            <input class="form-control"
                                   style="width: 100%"
                                   type="text"
                                   ng-pattern="dateOfBirthPattern"
                                   name="dateOfBirth"
                                   placeholder="YYYY-MM-DD"
                                   ng-model="form_date"
                                   required/>
                        </div>

                        <br>
                        <label>ADDRESS:</label>
                        <div class="input-group"
                             ng-class="{'has-error' : patientsForm.address.$invalid && patientsForm.address.$dirty,
                                     'has-success' : patientsForm.address.$valid && patientsForm.address.$dirty}">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"
                                           style="max-height : 25px"></i>
                                    </span>
                            <input class="form-control"
                                   style="width: 100%"
                                   type="text"
                                   name="address"
                                   placeholder="address"
                                   ng-model="form_address"
                                   ng-minlength="5"
                                   required/>
                        </div>
                        <hr>
                        <span>
                            <div style="margin-top:30px"
                                 class="form-group">
                                <div class="col-sm-12 controls">
                                     <button
                                             type="button-primary"
                                             class="btn btn-primary pull-right col-md-3"
                                             ng-disabled="patientsForm.$invalid"
                                             ng-click="addPatient(patientsForm.$valid)">
                                        Submit
                                    </button>
                                    <button type="button" class="btn btn-primary pull-right col-md-3" data-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </span>
                    </form>

                </div>


                <div class="modal-footer " >

                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->

    <div class="modal fade" id="updatePatientModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #00ceef; font-weight: bold; color: #ffffff;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update account</h4>
                </div>
                <div >

                    <form name="patientsFormUpdate" class="col-md-12" style="margin-top: 30px" novalidate>

                        <label>NAME:</label>
                        <div class="input-group"
                             ng-class="{'has-error' : patientsFormUpdate.name.$invalid && patientsFormUpdate.name.$dirty,
                                     'has-success' : patientsFormUpdate.name.$valid && patientsFormUpdate.name.$dirty}">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"
                                           style="max-height : 25px"></i>
                                    </span>
                            <input class="form-control"
                                   style="width: 100%"
                                   type="text"
                                   name="name"
                                   placeholder="name"
                                   ng-model="select.name"
                                   required/>
                        </div>

                        <br>
                        <label>PERSONAL NUMERICAL CODE:</label>
                        <div class="input-group"
                             ng-class="{'has-error' : patientsFormUpdate.pnc.$invalid && patientsFormUpdate.pnc.$dirty,
                                     'has-success' : patientsFormUpdate.pnc.$valid && patientsFormUpdate.pnc.$dirty}">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"
                                           style="max-height : 25px"></i>
                                    </span>
                            <input class="form-control"
                                   style="width: 100%"
                                   type="text"
                                   ng-pattern="pncPattern"
                                   name="pnc"
                                   placeholder="personal numerical code"
                                   ng-model="select.pnc"
                                   disabled
                                   required/>
                        </div>

                        <br>
                        <label>ID CARD:</label>
                        <div class="input-group"
                             ng-class="{'has-error' : patientsFormUpdate.idcard.$invalid && patientsFormUpdate.idcard.$dirty,
                                     'has-success' : patientsFormUpdate.idcard.$valid && patientsFormUpdate.idcard.$dirty}">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"
                                           style="max-height : 25px"></i>
                                    </span>
                            <input class="form-control"
                                   style="width: 100%"
                                   type="text"
                                   name="idcard"
                                   placeholder="Id Card"
                                   ng-model="select.idcard"
                                   ng-pattern="idcardPattern"
                                   ng-maxlength="8"
                                   ng-minlength="8"
                                   required/>
                        </div>

                        <br>
                        <label>DATE OF BIRTH</label>
                        <div class="input-group"
                             ng-class="{'has-error' : patientsFormUpdate.dateOfBirth.$invalid && patientsFormUpdate.dateOfBirth.$dirty,
                                     'has-success' : patientsFormUpdate.dateOfBirth.$valid && patientsFormUpdate.dateOfBirth.$dirty}">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"
                                           style="max-height : 25px"></i>
                                    </span>
                            <input class="form-control"
                                   style="width: 100%"
                                   type="text"
                                   ng-pattern="dateOfBirthPattern"
                                   name="dateOfBirth"
                                   placeholder="YYYY-MM-DD"
                                   ng-model="select.dateOfBirth"
                                   required/>
                        </div>

                        <br>
                        <label>ADDRESS:</label>
                        <div class="input-group"
                             ng-class="{'has-error' : patientsFormUpdate.address.$invalid && patientsFormUpdate.address.$dirty,
                                     'has-success' : patientsFormUpdate.address.$valid && patientsFormUpdate.address.$dirty}">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"
                                           style="max-height : 25px"></i>
                                    </span>
                            <input class="form-control"
                                   style="width: 100%"
                                   type="text"
                                   name="address"
                                   placeholder="address"
                                   ng-model="select.address"
                                   ng-minlength="5"
                                   required/>
                        </div>
                        <hr>
                        <span>
                            <div style="margin-top:30px"
                                 class="form-group">
                                <div class="col-sm-12 controls">
                                     <button
                                             type="button-primary"
                                             class="btn btn-primary pull-right col-md-3"
                                             ng-disabled="patientsFormUpdate.$invalid"
                                             ng-click="updatePatient(patientsFormUpdate.$valid)">
                                        Submit
                                    </button>
                                    <button type="button" class="btn btn-primary pull-right col-md-3" data-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </span>
                    </form>

                </div>
                <div class="modal-footer " >

                </div>
            </div>

        </div>
    </div>


</div>
