<html>
<head>
<title>secretary_consultations.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #606366; font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(169,183,198); }
.s2 { color: rgb(186,186,186); }
.s3 { color: rgb(104,151,187); }
.s4 { color: rgb(204,120,50); }
.s5 { color: rgb(165,194,97); }
.s6 { color: rgb(204,120,50); font-weight: bold; }
.s7 { color: rgb(128,128,128); }
.s8 { color: rgb(109,156,190); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
secretary_consultations.html</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;style&gt;</span><span class="s1"> 
    .</span><span class="s0">myButtons</span><span class="s1">{ 
        </span><span class="s2">background-color</span><span class="s1">:</span><span class="s3">#1c5792</span><span class="s4">;</span><span class="s1"> 
        </span><span class="s2">border-radius</span><span class="s1">: </span><span class="s3">0</span><span class="s5">px</span><span class="s4">;</span><span class="s1"> 
        </span><span class="s2">margin-bottom</span><span class="s1">: </span><span class="s3">3</span><span class="s5">px</span><span class="s4">;</span><span class="s1"> 
    } 
    .</span><span class="s0">span3 </span><span class="s1">{ 
        </span><span class="s2">height</span><span class="s1">: </span><span class="s3">100</span><span class="s5">px </span><span class="s6">!important</span><span class="s4">;</span><span class="s1"> 
        </span><span class="s2">overflow</span><span class="s1">: </span><span class="s5">scroll</span><span class="s4">;</span><span class="s1"> 
    } 
</span><span class="s0">&lt;/style&gt;</span><span class="s1"> 
</span><span class="s0">&lt;div </span><span class="s2">ng-controller=</span><span class="s5">&quot;secretaryCtrlDoctor&quot;</span><span class="s0">&gt;</span><span class="s1"> 
    </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-12&quot;</span><span class="s0">&gt;</span><span class="s1"> 
 
 
            </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-12&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-2&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;div    </span><span class="s2">id=</span><span class="s5">&quot;container_left&quot;</span><span class="s0"> 
                            </span><span class="s2">class=</span><span class="s5">&quot;col-md-12 shadowed&quot;</span><span class="s0"> 
                            </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">background-color</span><span class="s1">: </span><span class="s3">#1c5792</span><span class="s4">; </span><span class="s2">padding-bottom</span><span class="s1">: </span><span class="s3">0</span><span class="s5">px</span><span class="s4">; </span><span class="s2">max-width</span><span class="s1">: </span><span class="s3">25</span><span class="s5">vw</span><span class="s4">; </span><span class="s2">color</span><span class="s1">: </span><span class="s3">#FFFFFF</span><span class="s4">; </span><span class="s2">height</span><span class="s1">: </span><span class="s3">418</span><span class="s5">px&quot; </span><span class="s0">&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;h1&gt;</span><span class="s1">Doctors</span><span class="s0">&lt;/h1&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;form-group&quot;</span><span class="s0"> 
                             </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">padding-bottom</span><span class="s1">: </span><span class="s3">10</span><span class="s5">px</span><span class="s4">; </span><span class="s2">margin-top</span><span class="s1">: </span><span class="s3">10</span><span class="s5">px</span><span class="s4">; </span><span class="s2">min-width</span><span class="s1">: </span><span class="s3">0</span><span class="s5">px</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;input-group&quot;</span><span class="s2">; style=</span><span class="s5">&quot;</span><span class="s2">min-width</span><span class="s1">: </span><span class="s3">0</span><span class="s5">px</span><span class="s4">; </span><span class="s2">background-color</span><span class="s1">: </span><span class="s3">#FFFFFF</span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;input-group-addon&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                                    </span><span class="s0">&lt;i </span><span class="s2">class=</span><span class="s5">&quot;glyphicon glyphicon-search&quot;</span><span class="s0">&gt;&lt;/i&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;input 
                                        </span><span class="s2">id=</span><span class="s5">&quot;search_doctors&quot;</span><span class="s0"> 
                                        </span><span class="s2">type=</span><span class="s5">&quot;text&quot;</span><span class="s0"> 
                                        </span><span class="s2">class=</span><span class="s5">&quot;form-control col-md-12&quot;</span><span class="s0"> 
                                        </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">width</span><span class="s1">: </span><span class="s3">100</span><span class="s1">%</span><span class="s5">&quot;</span><span class="s0"> 
                                        </span><span class="s2">placeholder=</span><span class="s5">&quot;Search&quot;</span><span class="s0"> 
                                        </span><span class="s2">ng-model=</span><span class="s5">&quot;searchedFilter&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
 
 
                        </span><span class="s0">&lt;div </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">min-height</span><span class="s1">: </span><span class="s3">180</span><span class="s5">px&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;table  </span><span class="s2">class=</span><span class="s5">&quot;table table-striped table-responsive table-hover&quot;</span><span class="s0">   
                                    </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">color</span><span class="s1">: </span><span class="s3">#337ab7</span><span class="s4">; </span><span class="s2">font-weight</span><span class="s1">: </span><span class="s5">bold&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;tbody &gt;</span><span class="s1"> 
                                    </span><span class="s0">&lt;tr </span><span class="s2">dir-paginate=</span><span class="s5">&quot;doctor in doctors | orderBy:sortKey:reverse | filter:searchedFilter | itemsPerPage: itemsPerPage&quot;</span><span class="s0"> 
                                        </span><span class="s2">ng-click=</span><span class="s5">&quot; 
                                        select.username = doctor.username; 
                                        setSelectedDoctor(doctor.username,doctor.name);&quot;</span><span class="s0"> 
 
                                        </span><span class="s2">ng-class=</span><span class="s5">&quot;{rowSelected : doctor.username === doctorSelected}&quot;</span><span class="s0">&gt;</span><span class="s1"> 
 
                                        </span><span class="s0">&lt;td </span><span class="s2">class=</span><span class="s5">&quot;columnAuto&quot;</span><span class="s0">&gt;</span><span class="s1">{{doctor.name}}</span><span class="s0">&lt;/td&gt;</span><span class="s1"> 
                                    </span><span class="s0">&lt;/tr&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;/tbody&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;/table&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
                        </span><span class="s0">&lt;div </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">text-align</span><span class="s1">: </span><span class="s5">center&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;dir-pagination-controls 
                                    </span><span class="s2">max-size=</span><span class="s5">&quot;8&quot;</span><span class="s0"> 
                                    </span><span class="s2">direction-links=</span><span class="s5">&quot;true&quot;</span><span class="s0"> 
                                    </span><span class="s2">on-page-change=</span><span class="s5">&quot;data.getData(newPageNumber)&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;/dir-pagination-controls&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
 
                    </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;div   </span><span class="s2">id=</span><span class="s5">&quot;doctor_selected&quot;   </span><span class="s2">class=</span><span class="s5">&quot;input-group col-md-12 &quot;</span><span class="s0"> 
                           </span><span class="s2">ng-class=</span><span class="s5">&quot;{'has-error' : doctorSelected === null &amp;&amp; consultTriggered === true, 
                                     'has-success' : doctorSelected !== null}&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;label </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">margin-top</span><span class="s1">: </span><span class="s3">5</span><span class="s5">vh</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1">Doctor selected</span><span class="s0">&lt;/label&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;input 
                                </span><span class="s2">type=</span><span class="s5">&quot;text&quot;</span><span class="s0"> 
                                </span><span class="s2">class=</span><span class="s5">&quot;form-control col-md-12 &quot;</span><span class="s0"> 
                                </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">width</span><span class="s1">: </span><span class="s3">100</span><span class="s1">%</span><span class="s5">&quot;</span><span class="s0"> 
                                </span><span class="s2">placeholder=</span><span class="s5">&quot;&quot;</span><span class="s0"> 
                                </span><span class="s2">ng-model=</span><span class="s5">&quot;doctorSelected&quot;</span><span class="s0"> 
                                </span><span class="s2">disabled</span><span class="s0">&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
 
 
                </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-8&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-12&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;button </span><span class="s2">class=</span><span class="s5">&quot;btn btn-primary myButtons&quot; </span><span class="s2">ng-click=</span><span class="s5">&quot;showDay()&quot;</span><span class="s0">&gt;</span><span class="s1">Day</span><span class="s0">&lt;/button&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;button </span><span class="s2">class=</span><span class="s5">&quot;btn btn-primary myButtons&quot; </span><span class="s2">ng-click=</span><span class="s5">&quot;showWeek()&quot;</span><span class="s0">&gt;</span><span class="s1">Week</span><span class="s0">&lt;/button&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;button </span><span class="s2">class=</span><span class="s5">&quot;btn btn-primary myButtons pull-right&quot; </span><span class="s2">ng-click=</span><span class="s5">&quot;searchPatient()&quot;</span><span class="s0">&gt;</span><span class="s1">Search</span><span class="s0">&lt;/button&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;span </span><span class="s2">class=</span><span class="s5">&quot;pull-right&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;input 
                                    </span><span class="s2">type=</span><span class="s5">&quot;text&quot;</span><span class="s0"> 
                                    </span><span class="s2">class=</span><span class="s5">&quot;form-control col-md-8&quot;</span><span class="s0"> 
                                    </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">width</span><span class="s1">: </span><span class="s3">100</span><span class="s1">%</span><span class="s4">; </span><span class="s2">margin</span><span class="s1">: </span><span class="s3">0</span><span class="s5">px</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0"> 
                                    </span><span class="s2">placeholder=</span><span class="s5">&quot;search&quot;</span><span class="s0"> 
                                    </span><span class="s2">ng-model=</span><span class="s5">&quot;filterEvents&quot;</span><span class="s0">&gt;</span><span class="s1"> 
 
                        </span><span class="s0">&lt;/span&gt;</span><span class="s1"> 
 
                    </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;div </span><span class="s2">id =</span><span class="s5">&quot;dp&quot; </span><span class="s2">class=</span><span class="s5">&quot;col-md-12&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;daypilot-calendar </span><span class="s2">id=</span><span class="s5">&quot;week&quot; </span><span class="s2">daypilot-config=</span><span class="s5">&quot;weekConfig&quot; </span><span class="s2">daypilot-events=</span><span class="s5">&quot;events&quot; </span><span class="s0">&gt;&lt;/daypilot-calendar&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;daypilot-calendar </span><span class="s2">id=</span><span class="s5">&quot;day&quot; </span><span class="s2">daypilot-config=</span><span class="s5">&quot;dayConfig&quot; </span><span class="s2">daypilot-events=</span><span class="s5">&quot;events&quot; </span><span class="s0">&gt;&lt;/daypilot-calendar&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;div </span><span class="s2">class = </span><span class="s5">&quot;col-md-12 shadowed&quot; </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">padding-bottom</span><span class="s1">: </span><span class="s3">10</span><span class="s5">px</span><span class="s4">; </span><span class="s2">margin-top</span><span class="s1">: </span><span class="s3">20</span><span class="s5">px&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-6&quot;  </span><span class="s0">&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-6&quot;  </span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;H2&gt;</span><span class="s1">Consultation</span><span class="s0">&lt;/H2&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-6&quot;   </span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;H2&gt;&lt;button </span><span class="s2">class=</span><span class="s5">&quot;btn btn-primary myButtons pull-right&quot; </span><span class="s2">ng-click=</span><span class="s5">&quot;addConsult()&quot;</span><span class="s0">&gt;</span><span class="s1">Add consult</span><span class="s0">&lt;/button&gt;&lt;/H2&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;label </span><span class="s2">class=</span><span class="s5">&quot;col-md-12&quot;</span><span class="s0">&gt;</span><span class="s1">Starting and ending date and time</span><span class="s0">&lt;/label&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-6&quot;</span><span class="s0"> 
                             </span><span class="s2">ng-class=</span><span class="s5">&quot;{'has-error' : selectedNewStart === null &amp;&amp; consultTriggered === true, 
                                        'has-success' : selectedNewStart !== null}&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;input 
                                    </span><span class="s2">id=</span><span class="s5">&quot;startdate&quot;</span><span class="s0"> 
                                    </span><span class="s2">type=</span><span class="s5">&quot;text&quot;</span><span class="s0"> 
                                    </span><span class="s2">class=</span><span class="s5">&quot;form-control col-md-12 &quot;</span><span class="s0"> 
                                    </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">width</span><span class="s1">: </span><span class="s3">100</span><span class="s1">%</span><span class="s5">&quot;</span><span class="s0"> 
                                    </span><span class="s2">placeholder=</span><span class="s5">&quot;start date&quot;</span><span class="s0"> 
                                    </span><span class="s2">ng-model=</span><span class="s5">&quot;selectedNewStart&quot;</span><span class="s0"> 
                                    </span><span class="s2">disabled</span><span class="s0">&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
                        </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-6&quot;</span><span class="s0"> 
                             </span><span class="s2">ng-class=</span><span class="s5">&quot;{'has-error' : selectedNewEnd === null &amp;&amp; consultTriggered === true, 
                                        'has-success' : selectedNewEnd !== null}&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;input 
                                    </span><span class="s2">id=</span><span class="s5">&quot;enddate&quot;</span><span class="s0"> 
                                    </span><span class="s2">type=</span><span class="s5">&quot;text&quot;</span><span class="s0"> 
                                    </span><span class="s2">class=</span><span class="s5">&quot;form-control col-md-12&quot;</span><span class="s0"> 
                                    </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">width</span><span class="s1">: </span><span class="s3">100</span><span class="s1">%</span><span class="s5">&quot;</span><span class="s0"> 
                                    </span><span class="s2">placeholder=</span><span class="s5">&quot;end date&quot;</span><span class="s0"> 
                                    </span><span class="s2">ng-model=</span><span class="s5">&quot;selectedNewEnd&quot;</span><span class="s0"> 
                                    </span><span class="s2">disabled</span><span class="s0">&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
                        </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-12&quot;</span><span class="s0"> 
                             </span><span class="s2">ng-class=</span><span class="s5">&quot;{'has-error' : !patientSelected &amp;&amp; consultTriggered === true, 
                                        'has-success' : patientSelected }&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;input 
                                    </span><span class="s2">id=</span><span class="s5">&quot;patientselected&quot;</span><span class="s0"> 
                                    </span><span class="s2">type=</span><span class="s5">&quot;text&quot;</span><span class="s0"> 
                                    </span><span class="s2">class=</span><span class="s5">&quot;form-control col-md-12&quot;</span><span class="s0"> 
                                    </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">width</span><span class="s1">: </span><span class="s3">100</span><span class="s1">%</span><span class="s5">&quot;</span><span class="s0"> 
                                    </span><span class="s2">placeholder=</span><span class="s5">&quot;patient&quot;</span><span class="s0"> 
                                    </span><span class="s2">ng-model=</span><span class="s5">&quot;patientSelected&quot;</span><span class="s0"> 
                                    </span><span class="s2">disabled</span><span class="s0">&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
 
                    </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
                    </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-6&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;form-group&quot;</span><span class="s0"> 
                             </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">margin-top</span><span class="s1">: </span><span class="s3">20</span><span class="s5">px</span><span class="s4">; </span><span class="s2">min-width</span><span class="s1">: </span><span class="s3">0</span><span class="s5">px</span><span class="s4">; </span><span class="s2">margin-bottom</span><span class="s1">: </span><span class="s3">0</span><span class="s5">px&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;input-group&quot;</span><span class="s2">; style=</span><span class="s5">&quot;</span><span class="s2">min-width</span><span class="s1">: </span><span class="s3">0</span><span class="s5">px</span><span class="s4">; </span><span class="s2">background-color</span><span class="s1">: </span><span class="s3">#FFFFFF</span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;input-group-addon&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                                    </span><span class="s0">&lt;i </span><span class="s2">class=</span><span class="s5">&quot;glyphicon glyphicon-search&quot;</span><span class="s0">&gt;&lt;/i&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;input 
                                        </span><span class="s2">type=</span><span class="s5">&quot;text&quot;</span><span class="s0"> 
                                        </span><span class="s2">class=</span><span class="s5">&quot;form-control col-md-12&quot;</span><span class="s0"> 
                                        </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">width</span><span class="s1">: </span><span class="s3">100</span><span class="s1">%</span><span class="s5">&quot;</span><span class="s0"> 
                                        </span><span class="s2">placeholder=</span><span class="s5">&quot;Search patient&quot;</span><span class="s0"> 
                                        </span><span class="s2">ng-model=</span><span class="s5">&quot;patientFilter&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;div </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">max-height</span><span class="s1">: </span><span class="s3">150</span><span class="s5">px</span><span class="s4">; </span><span class="s2">width</span><span class="s1">: </span><span class="s3">100</span><span class="s1">%</span><span class="s4">; </span><span class="s2">margin</span><span class="s1">: </span><span class="s3">0</span><span class="s4">; </span><span class="s2">overflow-y</span><span class="s1">: </span><span class="s5">auto</span><span class="s4">; </span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;table  </span><span class="s2">class=</span><span class="s5">&quot;table table-striped table-hover table-condensed table-scrollable&quot;</span><span class="s0"> 
                                    </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">color</span><span class="s1">: </span><span class="s3">#337ab7</span><span class="s4">; </span><span class="s2">font-weight</span><span class="s1">: </span><span class="s5">bold</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;tbody &gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;tr </span><span class="s2">ng-repeat=</span><span class="s5">&quot;patient in patients | filter:patientFilter&quot;</span><span class="s0"> 
                                    </span><span class="s2">ng-click=</span><span class="s5">&quot; 
                                        select.name = patient.name; 
                                        setSelectedPatient(patient.name);&quot;</span><span class="s0"> 
 
                                    </span><span class="s2">ng-class=</span><span class="s5">&quot;{rowSelected : patient.name === patientSelected}&quot;</span><span class="s0">&gt;</span><span class="s1"> 
 
                                    </span><span class="s0">&lt;td &gt;</span><span class="s1">{{patient.name}}</span><span class="s0">&lt;/td&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;/tr&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;/tbody&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;/table&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
                    </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;shadowed&quot; </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">display</span><span class="s1">: </span><span class="s5">inline-block</span><span class="s4">; </span><span class="s2">margin-left</span><span class="s1">: </span><span class="s3">2</span><span class="s5">vw</span><span class="s4">;</span><span class="s5">&quot; </span><span class="s0">&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;daypilot-navigator </span><span class="s2">id=</span><span class="s5">&quot;navi&quot;  </span><span class="s2">daypilot-config=</span><span class="s5">&quot;navigatorConfig&quot; </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">margin</span><span class="s1">: </span><span class="s3">0</span><span class="s5">px</span><span class="s4">; </span><span class="s2">padding</span><span class="s1">: </span><span class="s3">0</span><span class="s5">px</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0">&gt;&lt;/daypilot-navigator&gt;</span><span class="s1"> 
                </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
            </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
        </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-1&quot;</span><span class="s0">&gt; &lt;/div&gt;</span><span class="s1"> 
    </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
 
 
    </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;modal fade&quot; </span><span class="s2">data-ng-init=</span><span class="s5">&quot;&quot; </span><span class="s2">id=</span><span class="s5">&quot;eventModal&quot; </span><span class="s2">role=</span><span class="s5">&quot;dialog&quot;</span><span class="s0">&gt;</span><span class="s1"> 
        </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;modal-dialog&quot;</span><span class="s0">&gt;</span><span class="s1"> 
 
            </span><span class="s7">&lt;!-- Modal content--&gt;</span><span class="s1"> 
            </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;modal-content&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;modal-header&quot; </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">background-color</span><span class="s1">: </span><span class="s3">#1c5792</span><span class="s4">; </span><span class="s2">font-weight</span><span class="s1">: </span><span class="s5">bold</span><span class="s4">; </span><span class="s2">color</span><span class="s1">: </span><span class="s3">#ffffff</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;button </span><span class="s2">type=</span><span class="s5">&quot;button&quot; </span><span class="s2">class=</span><span class="s5">&quot;close&quot; </span><span class="s2">data-dismiss=</span><span class="s5">&quot;modal&quot;</span><span class="s0">&gt;</span><span class="s8">&amp;times;</span><span class="s0">&lt;/button&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;h4 </span><span class="s2">class=</span><span class="s5">&quot;modal-title&quot;</span><span class="s0">&gt;</span><span class="s1">Consultation</span><span class="s0">&lt;/h4&gt;</span><span class="s1"> 
                </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                </span><span class="s0">&lt;div &gt;</span><span class="s1"> 
 
 
                    </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-6&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;h4 </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">color</span><span class="s1">: </span><span class="s3">#000</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            Patient : {{eventText}} 
                        </span><span class="s0">&lt;/h4&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;h4 </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">color</span><span class="s1">: </span><span class="s3">#000</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            Doctor : {{doctorSelectedName}} 
                        </span><span class="s0">&lt;/h4&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;h4 </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">color</span><span class="s1">: </span><span class="s3">#000</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            Date : {{eventDate}} 
                        </span><span class="s0">&lt;/h4&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;h4 </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">color</span><span class="s1">: </span><span class="s3">#000</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            Start : {{eventStartDate}} 
                        </span><span class="s0">&lt;/h4&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;h4 </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">color</span><span class="s1">: </span><span class="s3">#000</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            End : {{eventEndDate}} 
                        </span><span class="s0">&lt;/h4&gt;</span><span class="s1"> 
 
 
                    </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                    </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-md-6&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;button 
                                </span><span class="s2">type=</span><span class="s5">&quot;button-primary&quot;</span><span class="s0"> 
                                </span><span class="s2">class=</span><span class="s5">&quot;btn btn-primary col-md-12&quot;</span><span class="s0"> 
                                </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">height</span><span class="s1">: </span><span class="s3">50</span><span class="s5">px</span><span class="s4">; </span><span class="s2">background-color</span><span class="s1">: </span><span class="s3">#c00004</span><span class="s4">; </span><span class="s2">margin-bottom</span><span class="s1">: </span><span class="s3">10</span><span class="s5">px&quot;</span><span class="s0"> 
                                </span><span class="s2">ng-click=</span><span class="s5">&quot;deleteConsultation()&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            Delete consultation 
                        </span><span class="s0">&lt;/button&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;button 
                                </span><span class="s2">id=</span><span class="s5">&quot;announceDoctorId&quot;</span><span class="s0"> 
                                </span><span class="s2">type=</span><span class="s5">&quot;button-primary&quot;</span><span class="s0"> 
                                </span><span class="s2">class=</span><span class="s5">&quot;btn btn-primary  col-md-12&quot;</span><span class="s0"> 
                                </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">height</span><span class="s1">: </span><span class="s3">50</span><span class="s5">px</span><span class="s4">; </span><span class="s2">background-color</span><span class="s1">: </span><span class="s3">#20c009</span><span class="s5">&quot;</span><span class="s0"> 
                                </span><span class="s2">ng-click=</span><span class="s5">&quot;announceDoctor()&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                            Announce Doctor 
                        </span><span class="s0">&lt;/button&gt;</span><span class="s1"> 
 
                    </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
 
                        </span><span class="s0">&lt;span&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;div </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">margin-top</span><span class="s1">:</span><span class="s3">30</span><span class="s5">px&quot;</span><span class="s0"> 
                                 </span><span class="s2">class=</span><span class="s5">&quot;form-group&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                                </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;col-sm-12 controls&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                                     </span><span class="s0">&lt;button 
                                             </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">background-color</span><span class="s1">: </span><span class="s3">#1c5792</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0"> 
                                             </span><span class="s2">type=</span><span class="s5">&quot;button-primary&quot;</span><span class="s0"> 
                                             </span><span class="s2">class=</span><span class="s5">&quot;btn btn-primary pull-right col-md-3&quot;</span><span class="s0"> 
                                            </span><span class="s2">ng-click=</span><span class="s5">&quot;&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                                        Load 
                                    </span><span class="s0">&lt;/button&gt;</span><span class="s1"> 
                                    </span><span class="s0">&lt;button 
                                            </span><span class="s2">type=</span><span class="s5">&quot;button&quot;</span><span class="s0"> 
                                            </span><span class="s2">style=</span><span class="s5">&quot;</span><span class="s2">background-color</span><span class="s1">: </span><span class="s3">#1c5792</span><span class="s4">;</span><span class="s5">&quot;</span><span class="s0"> 
                                            </span><span class="s2">class=</span><span class="s5">&quot;btn btn-primary pull-right col-md-3&quot;</span><span class="s0"> 
                                            </span><span class="s2">data-dismiss=</span><span class="s5">&quot;modal&quot;</span><span class="s0">&gt;</span><span class="s1"> 
                                        Close 
                                    </span><span class="s0">&lt;/button&gt;</span><span class="s1"> 
 
                                </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                            </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                        </span><span class="s0">&lt;/span&gt;</span><span class="s1"> 
 
 
                </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
                </span><span class="s0">&lt;div </span><span class="s2">class=</span><span class="s5">&quot;modal-footer &quot; </span><span class="s0">&gt;</span><span class="s1"> 
 
                </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
            </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
 
        </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
    </span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
</span><span class="s0">&lt;/div&gt;</span><span class="s1"> 
</span></pre>
</body>
</html>